/* RESET */
html,body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    background-color: rgba(222, 222, 222, 0.9);
}

header{
    background-color: rgb(182, 182, 0);
    height: 200px;
    /*grid-column-start: 1;
    grid-column-end: 3;
    É a mesma coisa que: 
        grid-column: 1/3
    */
    grid-column: 1/3;
    grid-row: 1/2;
    /*
    grid-row-start: 1;
    grid-row-end: 2;
    É a mesma coisa que: 
        grid-row: 1/2
    */
}
main{
    background-color: tomato;
    height: 100px;
    grid-column-start: 1;
    grid-column-end: 2;
}
aside{
    background-color: rgb(5, 222, 1);
    height: 100px;
    grid-column-start: 2;
    grid-column-end: 3;
}
footer{
    background-color: rgb(53, 26, 255);
    height: 100px;
    grid-column-start:1;
    grid-column-end: 3;
}

.container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 20vh 70vh 10vh;
}